vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
prod-sim/
gcp-prod-sim/
decentralized-api/build/
decentralized-api/dist/
decentralized-api/responses/
inference-chain/build/
inference-chain/dist/
/decentralized-api/decentralized-api
chain-venv/
.inference/
prod-genesis/
prod-local/
/payload.json
/genesis
/prod-local/genesis
