services:
  chain-node:
    container_name: ${KEY_NAME}-node
    image: gcr.io/decentralized-ai/inferenced
    volumes:
      - ./prod-local/${KEY_NAME}:/root/.inference
    environment:
      - SEED_NODE_RPC_URL=${SEED_NODE_RPC_URL}
      - SEED_NODE_P2P_URL=${SEED_NODE_P2P_URL}
      - KEY_NAME=${KEY_NAME}
      - RPC_SERVER_URL_2=${RPC_SERVER_URL_2}
      - RPC_SERVER_URL_1=${RPC_SERVER_URL_1}
      - SYNC_WITH_SNAPSHOTS=${SYNC_WITH_SNAPSHOTS}
    ports:
      - "${RPC_PORT}:26657"
      - "${P2P_PORT}:26656"
    networks:
      - chain-public

  api:
    container_name: ${KEY_NAME}-api
    image: gcr.io/decentralized-ai/api
    volumes:
        - ./prod-local/${KEY_NAME}:/root/.inference
        - ./${NODE_CONFIG}:/root/node_config.json
    ports:
      - "${PORT}:8080"
      - "${PUBLIC_SERVER_PORT}:9000"
    environment:
      - KEY_NAME=${KEY_NAME}
      - NODE_HOST=${KEY_NAME}-node
      - DAPI_API__POC_CALLBACK_URL=${POC_CALLBACK_URL}
      - DAPI_API__PUBLIC_URL=${PUBLIC_URL}
      - DAPI_API__PUBLIC_SERVER_PORT=9000
      - DAPI_CHAIN_NODE__SEED_API_URL=${SEED_API_URL}
      - NODE_CONFIG_PATH=/root/node_config.json
    networks:
      - chain-public

  wiremock:
    container_name: ${KEY_NAME}-wiremock
    image: "wiremock/wiremock:latest"
    ports:
      - "${WIREMOCK_PORT}:8080"
    volumes:
      - ./prod-local/wiremock/${KEY_NAME}:/home/wiremock
    entrypoint: [ "/docker-entrypoint.sh", "--global-response-templating", "--disable-gzip", "--verbose" ]
    networks:
      - chain-public

networks:
  chain-public:
    name: chain-public
