# Copy to .env and edit values for your environment.

# Docker Hub credentials (used to pull ghcr.io/product-science images)
DOCKER_USERNAME=dbogdanengenious
DOCKER_TOKEN=

# Shared
PUBLIC_DOMAIN=xj7-5.s.filfox.io
CHAIN_ID=gonka-testnet-3
REPO_BRANCH=origin/gm/upgrade-v0.2.12-testnet
DEPLOY_DIR=/srv/dai
HF_HOME=/srv/dai/cache/
KEYRING_PASSWORD=12345678
SSH_USER=decentai
SSH_KEY_PATH=~/.ssh/id_ed25519_engenious

# Genesis
GENESIS_SSH_PORT=18220
GENESIS_P2P_PORT=19239
GENESIS_API_PORT=19240
GENESIS_INTERNAL_IP=172.18.114.113
GENESIS_HEALTHCHECK_SSH_PORT=22

# Join-1
JOIN1_SSH_PORT=18225
JOIN1_P2P_PORT=19249
JOIN1_API_PORT=19250
JOIN1_INTERNAL_IP=172.18.114.125
JOIN1_HEALTHCHECK_SSH_PORT=22
JOIN1_COLD_KEY_MNEMONIC="moral bullet glad enable climb subject bonus nature once oval busy good"

# Join-2
JOIN2_SSH_PORT=18219
JOIN2_P2P_PORT=19237
JOIN2_API_PORT=19238
JOIN2_INTERNAL_IP=172.18.114.112
JOIN2_HEALTHCHECK_SSH_PORT=18219
JOIN2_COLD_KEY_MNEMONIC="toilet split cluster image drip second average cargo series segment permit matter"

# Accounts to pre-fund in genesis (join node operator accounts).
# Add/remove addresses here; launch.py loops through all of them.
PRE_FUND_ADDRESSES=gonka1l42fhna00sqq64l82eqrzswltc9at9zwau5g3n,gonka19fr8xj8g76292jv6y5w8k4sutap9fe02dgtkth
PRE_FUND_AMOUNT=150000000ngonka
