# This file should be copied to 'config.env' and the values should be filled in.

# A comma-separated list of persistent peers (other genesis validators).
# e.g., "node-id1@ip-addr1:26656,node-id2@ip-addr2:26656"
export P2P_PERSISTENT_PEERS=""

# A comma-separated list of seed nodes to connect to.
# It is recommended to use the coordinator's node as a seed.
# e.g., "node-id@ip-addr:26656"
export P2P_SEEDS=""
