backend ${BACKEND_NAME}
    balance leastconn

    option httpchk
    http-check send meth GET uri ${READYZ_URI}
    http-check expect status 200

    http-reuse safe
    option redispatch
    retry-on conn-failure empty-response 502
    retries 2
    # A request that may already have reached a router must not be replayed.
    http-request disable-l7-retry if !METH_GET !METH_HEAD !METH_OPTIONS

    http-response set-header X-Versiond-Router-Addr %[bc_dst]:%[bc_dst_port]

    server-template router ${ROUTER_POOL_SLOTS} ${ROUTER_POOL_HOST}:${ROUTER_PORT} check port ${ROUTER_ADMIN_PORT} inter 1s fall 1 rise 2 resolvers docker init-addr none init-state fully-down hash-key addr
